<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swarming_subscribepro>
            <general>
                <enabled>0</enabled>
            </general>
            <platform>
                <base_url>https://api.subscribepro.com</base_url>
                <client_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <log_enabled>0</log_enabled>
                <log_filename>log/subscribepro/log.log</log_filename>
            </platform>
            <subscription_options>
                <allow_coupon>0</allow_coupon>
                <allow_cancel>1</allow_cancel>
            </subscription_options>
            <subscription_discount>
                <apply_discount_to_catalog_price>0</apply_discount_to_catalog_price>
                <cartrule_combine_type>combine</cartrule_combine_type>
                <discount_message>%price with %discount_text subscription discount</discount_message>
            </subscription_discount>
            <advanced>
                <cache_lifetime>3600</cache_lifetime>
                <webhook_ipaddresses>52.87.63.105,52.205.106.230,52.207.125.59,52.206.240.107</webhook_ipaddresses>
            </advanced>
            <shipperhq>
                <recurring_order_group>SUBSCRIBEPRO_RECURRING</recurring_order_group>
                <frontend_subscription_product_group>SUBSCRIBEPRO_RECURRING</frontend_subscription_product_group>
            </shipperhq>
        </swarming_subscribepro>
        <payment>
            <subscribe_pro>
                <model>SubscribeProAdapter</model>
                <title>Credit or Debit Cards (SubscribePro)</title>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <cctypes>AE,VI,MC,DI,JCB,DN</cctypes>
                <cctypes_mapper><![CDATA[{"american_express":"AE","visa":"VI","master":"MC","discover":"DI","jcb":"JCB","diners_club":"DN"}]]></cctypes_mapper>
                <useccv>1</useccv>
                <payment_action>authorize</payment_action>
                <currency>USD</currency>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <paymentInfoKeys>cc_type,cc_number,transaction_id,transaction_type,gateway_type,avs_code,avs_message,cvv_code,cvv_message,response_message</paymentInfoKeys>
                <privateInfoKeys>transaction_id,transaction_type,gateway_type,avs_code,avs_message,cvv_code,cvv_message,response_message</privateInfoKeys>
            </subscribe_pro>
            <subscribe_pro_vault>
                <model>SubscribeProVaultAdapter</model>
                <title>Stored Cards (SubscribePro)</title>
                <active>1</active>
            </subscribe_pro_vault>
        </payment>
    </default>
</config>
