<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swarming\SubscribePro\Api\SubscriptionManagementInterface" type="Swarming\SubscribePro\Service\SubscriptionManagement" />
    <preference for="Swarming\SubscribePro\Api\PaymentTokenManagementInterface" type="Swarming\SubscribePro\Service\PaymentTokenManagement" />
    <preference for="Swarming\SubscribePro\Api\AddressManagementInterface" type="Swarming\SubscribePro\Service\AddressManagement" />
    <preference for="Swarming\SubscribePro\Api\Data\ProductInterface" type="Swarming\SubscribePro\Model\Product" />
    <preference for="Swarming\SubscribePro\Api\Data\SubscriptionOptionInterface" type="Swarming\SubscribePro\Model\Quote\SubscriptionOption" />
    <preference for="Swarming\SubscribePro\Model\CatalogRule\InspectorInterface" type="Swarming\SubscribePro\Model\CatalogRule\Inspector" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Items\Grid" type="Swarming\SubscribePro\Block\Adminhtml\Order\Create\Items\Grid" />
    <preference for="Swarming\SubscribePro\Api\CartManagementInterface" type="Swarming\SubscribePro\Model\Quote\QuoteManagement" />
    <preference for="Swarming\SubscribePro\Api\GetOrderStatusInterface" type="Swarming\SubscribePro\Service\GetOrderStatus" />
    <preference for="Swarming\SubscribePro\Api\Data\OrderPaymentStateInterface" type="Swarming\SubscribePro\Model\Order\PaymentState" />
    <preference for="Magento\Payment\Gateway\Data\Order\AddressAdapter" type="Swarming\SubscribePro\Payment\Gateway\Data\Order\AddressAdapter"/>
    <preference for="Swarming\SubscribePro\Service\Payment\PaymentProfileDataBuilderInterface" type="Swarming\SubscribePro\Service\Payment\PaymentProfileDataBuilderPool" />

    <type name="Swarming\SubscribePro\Model\MetaService">
        <arguments>
            <argument name="metaUser" xsi:type="object">Swarming\SubscribePro\Model\Meta\Customer</argument>
            <argument name="userType" xsi:type="const">Swarming\SubscribePro\Model\Meta\Customer::TYPE</argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Platform\Platform">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="product" xsi:type="array">
                    <item name="instance_name" xsi:type="string">Swarming\SubscribePro\Model\Product</item>
                </item>
                <item name="address" xsi:type="array">
                    <item name="instance_name" xsi:type="string">Swarming\SubscribePro\Model\Address</item>
                </item>
                <item name="subscription" xsi:type="array">
                    <item name="instance_name" xsi:type="string">Swarming\SubscribePro\Model\Subscription</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Platform\Service\Product">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Product\ProductService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\Address">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Address\AddressService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\Customer">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Customer\CustomerService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\Subscription">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Subscription\SubscriptionService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\Token">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Token\TokenService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\PaymentProfile">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\PaymentProfile\PaymentProfileService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\ApplePay\PaymentProfile">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\PaymentProfile\PaymentProfileService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\Transaction">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Transaction\TransactionService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\Webhook">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\Webhook\WebhookService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Service\OrderDetails">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Service\OrderDetails\OrderDetailsService::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Tool\Config">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Tools\Config::NAME</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Tool\Oauth">
        <arguments>
            <argument name="name" xsi:type="const">SubscribePro\Tools\Oauth::NAME</argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Model\CatalogRule\InspectorRepository">
        <arguments>
            <argument name="defaultInspector" xsi:type="string">Swarming\SubscribePro\Model\CatalogRule\Inspector\DefaultInspector</argument>
            <argument name="inspectors" xsi:type="array">
                <item name="configurable" xsi:type="string">Swarming\SubscribePro\Model\CatalogRule\Inspector\ConfigurableProduct</item>
                <item name="bundle" xsi:type="string">Swarming\SubscribePro\Model\CatalogRule\Inspector\BundleProduct</item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Model\Rule\Condition\Status">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Model\Rule\Condition\Interval">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Model\Rule\Condition\ReorderOrdinal">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">sales_rule_form</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\SalesRule\Model\Rule\Condition\Product\Combine">
        <plugin name="subscribepro_salesrule_conditions" type="Swarming\SubscribePro\Plugin\SalesRule\Conditions" />
    </type>

    <type name="Magento\SalesRule\Model\Validator">
        <plugin name="subscribepro_discount" type="Swarming\SubscribePro\Plugin\SalesRule\Validator" sortOrder="50" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\CartItemOptionsProcessor">
        <plugin name="subscribepro_subscription_option" type="Swarming\SubscribePro\Plugin\Quote\CartItemOptionsProcessor" />
    </type>

    <type name="Magento\Vault\Api\PaymentTokenRepositoryInterface">
        <plugin name="subscribepro_vault_repository" type="Swarming\SubscribePro\Plugin\Vault\TokenRepository" />
    </type>

    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="subscribepro_options" type="Swarming\SubscribePro\Plugin\Product\Configuration" sortOrder="80" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="subscribepro_options" type="Swarming\SubscribePro\Plugin\Quote\Item" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="subscribepro_options" type="Swarming\SubscribePro\Plugin\Quote\ToOrderItem"/>
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="subscribepro_options" type="Swarming\SubscribePro\Plugin\Checkout\Cart"/>
    </type>

    <type name="Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin name="subscribepro_attribute" type="Swarming\SubscribePro\Plugin\GroupedProduct\TypeGrouped"/>
    </type>

    <!-- ShipperHQ extension -->
    <type name="ShipperHQ\Shipper\Model\Carrier\Processor\ShipperMapper">
        <plugin name="subscribepro_shipperhq" type="Swarming\SubscribePro\Plugin\ShipperHQ\ShipperMapperPlugin" />
    </type>

    <!-- SubscribeProAdapter -->
    <virtualType name="SubscribeProAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Swarming\SubscribePro\Block\Adminhtml\Payment\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Swarming\SubscribePro\Block\Payment\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">SubscribeProValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">SubscribeProValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">SubscribeProCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Swarming\SubscribePro\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Block\Payment\Info">
        <arguments>
            <argument name="config" xsi:type="object">Swarming\SubscribePro\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- SubscribeProValueHandlerPool -->
    <virtualType name="SubscribeProValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">SubscribeProConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Swarming\SubscribePro\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <!-- SubscribeProValidatorPool -->
    <virtualType name="SubscribeProValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">SubscribeProCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Swarming\SubscribePro\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <!-- SubscribeProCommandManager -->
    <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="subscribe_pro" xsi:type="string">SubscribeProCommandManager</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SubscribeProCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">SubscribeProCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- SubscribeProCommandPool -->
    <virtualType name="SubscribeProCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Swarming\SubscribePro\Gateway\Command\AuthorizeCommand</item>
                <item name="vault_authorize" xsi:type="string">Swarming\SubscribePro\Gateway\Command\VaultAuthorizeCommand</item>
                <item name="capture" xsi:type="string">Swarming\SubscribePro\Gateway\Command\CaptureStrategyCommand</item>
                <item name="purchase" xsi:type="string">Swarming\SubscribePro\Gateway\Command\PurchaseCommand</item>
                <item name="settlement" xsi:type="string">Swarming\SubscribePro\Gateway\Command\CaptureCommand</item>
                <item name="vault_sale" xsi:type="string">Swarming\SubscribePro\Gateway\Command\VaultPurchaseCommand</item>
                <item name="refund" xsi:type="string">Swarming\SubscribePro\Gateway\Command\RefundCommand</item>
                <item name="void" xsi:type="string">Swarming\SubscribePro\Gateway\Command\VoidCommand</item>
                <item name="cancel" xsi:type="string">Swarming\SubscribePro\Gateway\Command\VoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Swarming\SubscribePro\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">SubscribeProCommandPool</argument>
        </arguments>
    </type>

    <!-- AuthorizeCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\AuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SubscribeProPlaceOrderRequest</argument>
            <argument name="handler" xsi:type="object">SubscribeProPlaceOrderHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <!-- PurchaseCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\PurchaseCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SubscribeProPlaceOrderRequest</argument>
            <argument name="handler" xsi:type="object">SubscribeProPlaceOrderHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <virtualType name="SubscribeProPlaceOrderRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Swarming\SubscribePro\Gateway\Request\CustomerDataBuilder</item>
                <item name="order" xsi:type="string">Swarming\SubscribePro\Gateway\Request\OrderDataBuilder</item>
                <item name="payment" xsi:type="string">Swarming\SubscribePro\Gateway\Request\PaymentDataBuilder</item>
                <item name="3ds" xsi:type="string">Swarming\SubscribePro\Gateway\Request\ThreeDSecureBuilder</item>
                <item name="address" xsi:type="string">Swarming\SubscribePro\Gateway\Request\AddressDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProPlaceOrderHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="3ds" xsi:type="string">Swarming\SubscribePro\Gateway\Response\ThreeDSecure</item>
                <item name="payment_details" xsi:type="string">Swarming\SubscribePro\Gateway\Response\PaymentDetailsHandler</item>
                <item name="txn_id" xsi:type="string">Swarming\SubscribePro\Gateway\Response\TransactionIdHandler</item>
                <item name="card_details" xsi:type="string">Swarming\SubscribePro\Gateway\Response\CardDetailsHandler</item>
                <item name="vault_details" xsi:type="string">Swarming\SubscribePro\Gateway\Response\VaultDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- VaultAuthorizeCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\VaultAuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SubscribeProVaultPlaceOrderRequest</argument>
            <argument name="handler" xsi:type="object">SubscribeProPlaceOrderHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <!-- VaultPurchaseCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\VaultPurchaseCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SubscribeProVaultPlaceOrderRequest</argument>
            <argument name="handler" xsi:type="object">SubscribeProPlaceOrderHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <virtualType name="SubscribeProVaultPlaceOrderRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Swarming\SubscribePro\Gateway\Request\CustomerDataBuilder</item>
                <item name="order" xsi:type="string">Swarming\SubscribePro\Gateway\Request\OrderDataBuilder</item>
                <item name="payment" xsi:type="string">Swarming\SubscribePro\Gateway\Request\VaultDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- CaptureCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\CaptureCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Swarming\SubscribePro\Gateway\Request\CaptureDataBuilder</argument>
            <argument name="handler" xsi:type="object">Swarming\SubscribePro\Gateway\Response\TransactionIdHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>

    <!-- VoidCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\VoidCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Swarming\SubscribePro\Gateway\Request\VoidDataBuilder</argument>
            <argument name="handler" xsi:type="object">Swarming\SubscribePro\Gateway\Response\VoidHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>

    <!-- RefundCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\RefundCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">RefundDataBuilder</argument>
            <argument name="handler" xsi:type="object">Swarming\SubscribePro\Gateway\Response\RefundHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <virtualType name="RefundDataBuilder" type="Swarming\SubscribePro\Gateway\Request\CaptureDataBuilder" />

    <!-- SubscribeProAdapter Vault -->
    <type name="Swarming\SubscribePro\Gateway\Config\VaultConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ConfigProvider::VAULT_CODE</argument>
        </arguments>
    </type>
    <virtualType name="SubscribeProVaultPaymentValueHandler" type="VaultPaymentDefaultValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Swarming\SubscribePro\Gateway\Config\VaultConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProVaultPaymentValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">SubscribeProVaultPaymentValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProVaultAdapter" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">Swarming\SubscribePro\Gateway\Config\VaultConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">SubscribeProVaultPaymentValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">SubscribeProAdapter</argument>
            <argument name="code" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ConfigProvider::VAULT_CODE</argument>
        </arguments>
    </virtualType>

    <type name="Swarming\SubscribePro\Controller\Cards\Save">
        <arguments>
            <argument name="walletAuthorizeCommand" xsi:type="object">SubscribeProWalletAuthorizeCommand</argument>
        </arguments>
    </type>
    <virtualType name="SubscribeProWalletAuthorizeCommand" type="Swarming\SubscribePro\Gateway\Command\AuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">WalletAuthorizeBuilder</argument>
            <argument name="handler" xsi:type="object">Swarming\SubscribePro\Gateway\Response\ThreeDSAuthorizeHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="WalletAuthorizeBuilder" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Swarming\SubscribePro\Gateway\Request\WalletCustomerDataBuilder</item>
                <item name="amount" xsi:type="string">Swarming\SubscribePro\Gateway\Request\WalletAmountBuilder</item>
                <item name="payment" xsi:type="string">Swarming\SubscribePro\Gateway\Request\WalletPaymentBuilder</item>
                <item name="3ds" xsi:type="string">Swarming\SubscribePro\Gateway\Request\WalletThreeDSecureBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- SubscribePro ApplePay Adapter -->
    <virtualType name="SubscribeProApplePayAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ApplePayConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Swarming\SubscribePro\Block\Adminhtml\Payment\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Swarming\SubscribePro\Block\Payment\ApplePayInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">SubscribeProApplePayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">SubscribeProApplePayValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">SubscribeProApplePayCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- SubscribeProApplePayValueHandlerPool -->
    <virtualType name="SubscribeProApplePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">SubscribeProApplePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProApplePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Swarming\SubscribePro\Gateway\Config\ApplePayConfig</argument>
        </arguments>
    </virtualType>
    <type name="Swarming\SubscribePro\Gateway\Config\ApplePayConfigProvider">
        <arguments>
            <argument name="gatewayConfig" xsi:type="object">\Swarming\SubscribePro\Gateway\Config\ApplePayConfig</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Gateway\Config\ApplePayConfig">
        <arguments>
            <argument name="methodCode" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ApplePayConfigProvider::CODE</argument>
        </arguments>
    </type>
    <!-- SubscribeProValidatorPool -->
    <virtualType name="SubscribeProApplePayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">SubscribeProCountryApplePayValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscribeProCountryApplePayValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Swarming\SubscribePro\Gateway\Config\ApplePayConfig</argument>
        </arguments>
    </virtualType>
    <!-- SubscribeProApplePayCommandPool -->
    <virtualType name="SubscribeProApplePayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Swarming\SubscribePro\Gateway\Command\ApplePay\AuthorizeCommand</item>
                <item name="capture" xsi:type="string">Swarming\SubscribePro\Gateway\Command\ApplePay\CaptureStrategyCommand</item>
                <item name="purchase" xsi:type="string">Swarming\SubscribePro\Gateway\Command\ApplePay\PurchaseCommand</item>
                <item name="settlement" xsi:type="string">Swarming\SubscribePro\Gateway\Command\CaptureCommand</item>
                <item name="refund" xsi:type="string">Swarming\SubscribePro\Gateway\Command\RefundCommand</item>
                <item name="void" xsi:type="string">Swarming\SubscribePro\Gateway\Command\VoidCommand</item>
                <item name="cancel" xsi:type="string">Swarming\SubscribePro\Gateway\Command\VoidCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- ApplePay AuthorizeCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\ApplePay\AuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SubscribeProApplePayPlaceOrderRequest</argument>
            <argument name="handler" xsi:type="object">SubscribeProPlaceOrderHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Gateway\Command\ApplePay\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">SubscribeProApplePayCommandPool</argument>
        </arguments>
    </type>
    <!-- PurchaseCommand -->
    <type name="Swarming\SubscribePro\Gateway\Command\ApplePay\PurchaseCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">SubscribeProApplePayPlaceOrderRequest</argument>
            <argument name="handler" xsi:type="object">SubscribeProPlaceOrderHandler</argument>
            <argument name="validator" xsi:type="object">Swarming\SubscribePro\Gateway\Validator\ResponseValidator</argument>
        </arguments>
    </type>
    <virtualType name="SubscribeProApplePayPlaceOrderRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Swarming\SubscribePro\Gateway\Request\CustomerDataBuilder</item>
                <item name="order" xsi:type="string">Swarming\SubscribePro\Gateway\Request\OrderDataBuilder</item>
                <item name="payment" xsi:type="string">Swarming\SubscribePro\Gateway\Request\ApplePayPaymentDataBuilder</item>
                <item name="address" xsi:type="string">Swarming\SubscribePro\Gateway\Request\AddressDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- SubscribePro ApplePay Adapter -->

    <type name="Swarming\SubscribePro\Platform\Storage\Product">
        <arguments>
            <argument name="cache" xsi:type="object">Swarming\SubscribePro\Platform\Cache\Type\Product</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Platform\Storage\Config">
        <arguments>
            <argument name="cache" xsi:type="object">Swarming\SubscribePro\Platform\Cache\Type\Config</argument>
        </arguments>
    </type>

    <!-- Mark client ID and client Secret keys as sensitive -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="swarming_subscribepro/platform/client_id" xsi:type="string">1</item>
                <item name="swarming_subscribepro/platform/client_secret" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <!-- ApplePay Logger Handlers-->
    <virtualType name="Swarming\SubscribePro\Model\VirtualLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/subscribepro_applepay/error.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Swarming\SubscribePro\Model\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Swarming\SubscribePro\Model\VirtualLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Swarming\SubscribePro\Model\ApplePay\OrderService">
        <arguments>
            <argument name="logger" xsi:type="object">Swarming\SubscribePro\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Model\ApplePay\PaymentRequestConfig">
        <arguments>
            <argument name="logger" xsi:type="object">Swarming\SubscribePro\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Model\ApplePay\PaymentService">
        <arguments>
            <argument name="logger" xsi:type="object">Swarming\SubscribePro\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Model\ApplePay\PaymentAuthorized">
        <arguments>
            <argument name="logger" xsi:type="object">Swarming\SubscribePro\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Controller\ApplePay\Shipping">
        <arguments>
            <argument name="logger" xsi:type="object">Swarming\SubscribePro\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Controller\ApplePay\ShippingList">
        <arguments>
            <argument name="logger" xsi:type="object">Swarming\SubscribePro\Model\VirtualLogger</argument>
        </arguments>
    </type>
    <!-- ApplePay Logger Handlers-->

    <type name="Magento\Framework\Reflection\DataObjectProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="Swarming\SubscribePro\Model\Order\PaymentState" xsi:type="object">Swarming\SubscribePro\Webapi\OrderPaymentStateProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
