<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="subscribe_pro_subscription_payment" instance="Swarming\SubscribePro\Observer\Payment\Availability" />
    </event>
    <event name="payment_method_assign_data_subscribe_pro">
        <observer name="subscribe_pro_gateway_data_assign" instance="Swarming\SubscribePro\Observer\Payment\DataAssigner" />
    </event>
    <event name="payment_method_assign_data_vault_subscribe_pro">
        <observer name="subscribe_pro_gateway_data_assign" instance="Swarming\SubscribePro\Observer\Payment\TokenAssigner" />
    </event>
    <event name="payment_method_assign_data_subscribe_pro_apple_pay">
        <observer name="subscribe_pro_apple_pay_gateway_data_assign" instance="Swarming\SubscribePro\Observer\Payment\DataAssigner" />
    </event>
    <event name="payment_method_assign_data_vault_subscribe_pro_apple_pay">
        <observer name="subscribe_pro_apple_pay_gateway_data_vault_assign" instance="Swarming\SubscribePro\Observer\Payment\TokenAssigner" />
    </event>
    <event name="checkout_submit_before">
        <observer name="subscribe_pro_before_order" instance="Swarming\SubscribePro\Observer\Checkout\SubmitBefore" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="subscribe_pro" instance="Swarming\SubscribePro\Observer\Checkout\SubmitAllAfter" />
    </event>
    <event name="sales_quote_item_set_product">
        <observer name="subscribe_pro_sales_quote_item_set_product" instance="Swarming\SubscribePro\Observer\QuoteItem\SetProduct" />
    </event>
</config>
