<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="subscribe_pro_config_provider" xsi:type="object">Swarming\SubscribePro\Ui\ConfigProvider\Checkout</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="subscribe_pro" xsi:type="const">Swarming\SubscribePro\Gateway\Config\ConfigProvider::CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Block\Payment\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="subscribe_pro" xsi:type="object">Swarming\SubscribePro\Ui\ComponentProvider\VaultToken</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="subscribepro_subscription" type="Swarming\SubscribePro\Plugin\Product\Subscription"/>
    </type>

    <type name="Swarming\SubscribePro\Platform\Webhook\HandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_profile.created" xsi:type="object">Swarming\SubscribePro\Platform\Webhook\Handler\PaymentProfile\CreateHandler</item>
                <item name="payment_profile.updated" xsi:type="object">Swarming\SubscribePro\Platform\Webhook\Handler\PaymentProfile\UpdateHandler</item>
                <item name="payment_profile.redacted" xsi:type="object">Swarming\SubscribePro\Platform\Webhook\Handler\PaymentProfile\RedactHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Block\Customer\Subscriptions">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="subscriptionsDirectoryDataDataProcessor" xsi:type="object">Swarming\SubscribePro\Block\Customer\SubscriptionsDirectoryDataProcessor</item>
            </argument>
        </arguments>
    </type>

    <type name="Swarming\SubscribePro\Model\ApplePay\PaymentRequestConfig">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>
    <type name="Swarming\SubscribePro\Model\ApplePay\Core">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>
</config>
