<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="subscribe_pro_cart_add_product_after" instance="Swarming\SubscribePro\Observer\AddProductToCartAfter" />
    </event>
</config>
