<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <legend class="legend">
        <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
    </legend>
    <br>
    <div class="field type">
        <div class="control">
            <ul class="credit-card-types">
                <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                <li class="item" data-bind="css: {
                                                     _active: $parent.selectedCardType() == item.value,
                                                     _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                                     } ">
                    <!--ko if: $parent.getIcons(item.value) -->
                    <img data-bind="attr: {
                            'src': $parent.getIcons(item.value).url,
                            'alt': item.type,
                            'width': $parent.getIcons(item.value).width,
                            'height': $parent.getIcons(item.value).height
                            }">
                    <!--/ko-->
                </li>
                <!--/ko-->
            </ul>
            <input type="hidden"
                   name="creditcard_type"
                   class="input-text"
                   value=""
                   data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                       value: selectedCardType
                       ">
        </div>
    </div>
    <div class="field number required">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
            <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div data-bind="attr: {id: getCode() + '_cc_number'}" class="hosted-control"></div>
            <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Credit Card Number'--><!-- /ko --></div>
        </div>
        <input type="hidden" name="token" data-bind="attr: {id: getCode() + '_token'}, value: paymentMethodToken">
    </div>

    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
            <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="date-wrap">
                <div class="child-control month">
                    <input type="text"
                           name="creditcard_month"
                           data-bind="attr: {id: getCode() + '_expiration', placeholder: $t('MM')}, value: creditCardExpMonth, hasFocus: creditCardExpMonthFocus"
                           size="3"
                           maxlength="2"
                           autocomplete="off"
                    >
                </div>
                <div class="child-control year">
                    <input type="text"
                           name="creditcard_year"
                           data-bind="attr: {id: getCode() + '_expiration_yr', placeholder: $t('YYYY')}, value: creditCardExpYear, hasFocus: creditCardExpYearFocus"
                           size="5"
                           maxlength="4"
                           autocomplete="off"
                    >
                </div>
                <div class="error"><!-- ko i18n: 'Please, enter valid Expiration Date'--><!-- /ko --></div>
            </div>
        </div>
    </div>

    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}, visible: hasVerification()">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
            <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
            <div data-bind="attr: {id: getCode() + '_cc_cid'}" class="hosted-control hosted-cid"></div>
            <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Card Verification Number'--><!-- /ko --></div>

            <div class="field-tooltip toggle">
                                <span class="field-tooltip-action action-cvv"
                                      tabindex="0"
                                      data-toggle="dropdown"
                                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     data-bind="html: getCvvImageHtml()"></div>
            </div>
        </div>
    </div>
    <!-- ko text: initPayment() --><!-- /ko -->
</fieldset>
