<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="swarming" translate="label" sortOrder="500">
            <label>Swarming</label>
        </tab>

        <section id="swarming_subscribepro" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Subscribe Pro</label>
            <tab>swarming</tab>
            <resource>Swarming_SubscribePro::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>

                <field id="last_update" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Installed Version</label>
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\InstalledVersion</frontend_model>
                </field>

                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="platform" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Platform API Configuration</label>

                <field id="message" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\PlatformMessage</frontend_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="test_connection" translate="button_label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\TestConnection</frontend_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="base_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Base Url</label>
                    <comment>Default base url is https://api.subscribepro.com</comment>
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\PlatformField</frontend_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="client_id" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client Id</label>
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\PlatformField</frontend_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="client_secret" translate="label comment" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client Secret</label>
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\PlatformField</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="log_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Logging</label>
                    <frontend_model>Swarming\SubscribePro\Block\Adminhtml\System\Config\PlatformField</frontend_model>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="third_party_payment" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Payment Configuration</label>

                <field id="is_allowed" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow Third Party</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="allowed_method" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed Third Party</label>
                    <source_model>Swarming\SubscribePro\Model\Config\Source\ThirdPartyPaymentMethod</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                        <field id="is_allowed">1</field>
                    </depends>
                </field>
            </group>

            <group id="order_callback" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Order Callback Configuration</label>

                <field id="shared_secret" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shared Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="log_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled all requests and responses are logged to var/log/debug.log</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="subscription_options" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscription Options</label>


                <field id="allow_cancel" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allow Subscription Cancellation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="allow_coupon" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Save Coupons With Subscriptions</label>
                    <comment>Allow coupons to be added when a customer creates a new subscription using the New Subscription
                        page and saved with subscriptions created during the checkout process.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="my_subscriptions_count" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>My Subscriptions Count</label>
                    <comment>Enter the maximum number of subscriptions to load on the My Subscriptions page.</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>

                <field id="use_child_sku_when_configurable" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use Child Sku For Subscription When Configurable</label>
                    <comment>When enabled, creating a subscription for a configurable product uses the child SKU instead of the configurable product SKU</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="subscription_discount" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscription Discount</label>

                <field id="apply_discount_to_catalog_price" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Apply Discount To Catalog Price</label>
                    <comment>Apply subscription discount when catalog price rule or special price discount is in effect.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="cartrule_combine_type" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cart Rule Combine Type</label>
                    <comment>Specify how to combine the subscription discount with any shopping cart price rules or coupon code discounts.</comment>
                    <source_model>Swarming\SubscribePro\Model\Config\Source\CartRuleCombine</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="discount_message" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Discount message</label>
                    <comment>Available placeholders: %price - price with applied discount, %discount_text - discount in percentage or amount, %discount_amount - discount amount.</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="advanced" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Advanced</label>

                <field id="cache_lifetime" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>API Data Cache Lifetime</label>
                    <comment>Enter cache lifetime value in seconds.</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="webhook_secret" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Webhook Secret Key</label>
                    <comment>This secret key will be used to hash webhook request data and validate the source of incoming webhook requests for security.</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="enable_debugging" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled debugging for development</label>
                    <comment>This enables the debug logging system within the SubscribePro extension</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="enable_hosted_my_subscriptions" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Hosted My Subscriptions Page</label>
                    <comment>This enables the the hosted version of the My Subscriptions page, instead of the one packaged with the extension.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="hosted_my_subscriptions_url" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Hosted My Subscriptions Page Widget Source URL</label>
                    <comment>Enter the hosted widget source URL provided by Subscribe Pro Support.</comment>
                    <depends>
                        <field id="swarming_subscribepro/advanced/enable_hosted_my_subscriptions">1</field>
                    </depends>
                </field>

                <field id="custom_json_hosted_my_subscriptions" translate="label comment" type="textarea" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Hosted My Subscriptions Page Configuration</label>
                    <comment>Enter custom Javascript object containing configuration, provided by Subscribe Pro Support, to set the style and functionality of the Hosted My Subscriptions page.</comment>
                    <depends>
                        <field id="swarming_subscribepro/advanced/enable_hosted_my_subscriptions">1</field>
                    </depends>
                </field>
            </group>

            <group id="shipperhq" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Shipper HQ</label>

                <field id="recurring_order_group" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Recurring Order Group</label>
                    <comment>The shipping group to add to recurring orders created by the SubscribePro platform</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>

                <field id="frontend_subscription_product_group" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Frontend Subscription Product Group</label>
                    <comment>The shipping group to add to products that are ordered as subscriptions</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>

        <section id="payment">
            <group id="subscribe_pro" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Subscribe Pro</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="active_non_subscription" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled for Non-Subscription Transactions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Swarming\SubscribePro\Model\Config\Source\PaymentAction</source_model>
                </field>

                <field id="three_ds_active" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable 3DS2</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="three_ds_type" translate="label" type="select" sortOrder="46" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3DS Type</label>
                    <comment>In most cases Subscribe Pro uses a gateway-independent 3DS implementation. For integrations that require a gateway-specific implementation, this can be changed here.</comment>
                    <source_model>Swarming\SubscribePro\Model\Config\Source\ThreeDsType</source_model>
                    <depends>
                        <field id="three_ds_active">1</field>
                    </depends>
                </field>

                <field id="wallet_authorization_active" translate="label" type="select" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Authorization on Wallet</label>
                    <comment>Enable or disable authorization of new cards added by customer on wallet page</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="three_ds_active">0</field>
                    </depends>
                </field>

                <field id="wallet_authorization_amount" translate="label" type="text" sortOrder="48" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Authorization Amount on Wallet</label>
                    <validate>validate-greater-than-zero validate-number required-entry</validate>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                </field>

                <field id="currency" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Accepted Currency</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                </field>

                <field id="cctypes" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>Swarming\SubscribePro\Model\Config\Source\CcType</source_model>
                </field>

                <field id="useccv" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>

                <field id="min_order_total" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>

                <field id="max_order_total" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>

            <group id="subscribe_pro_apple_pay" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Subscribe Pro | Apple Pay</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="active_non_subscription" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Non-Subscription Transactions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="domain" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Domain</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Swarming\SubscribePro\Model\Config\Source\PaymentAction</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="currency" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Accepted Currency</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

<!--                <field id="min_order_total" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">-->
<!--                    <label>Minimum Order Total</label>-->
<!--                </field>-->

<!--                <field id="max_order_total" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">-->
<!--                    <label>Maximum Order Total</label>-->
<!--                </field>-->

<!--                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">-->
<!--                    <label>Sort Order</label>-->
<!--                    <frontend_class>validate-number</frontend_class>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
