
<tr>
    <td class="col subscription">
        <h2>
            <!-- ko i18n: 'Next Ship Date:' --><!-- /ko -->
            <!-- ko if: isStatus(['Active']) -->
                <!-- ko text: nextOrderDate --><!-- /ko -->
                <!-- ko if: canChangeNextOrderDate() -->
                <input type="hidden"
                       id="next-order-date"
                       data-bind="datepicker: {
                       storage: selectedNextOrderDate,
                       options: $parent.datepickerOptions
                       },
                       event: {change: nextOrderDateChanged}">
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: !isStatus(['Active']) -->
                <!-- ko i18n: 'n/a' --><!-- /ko -->
            <!-- /ko -->
        </h2>
        <!-- ko if: isStatus(['Failed', 'Retry', 'Active']) -->
            <div class="options">
                <select data-bind="options: getQtyValues(), value: selectedQty, event: {change: qtyChanged}"></select>
                <!-- ko i18n: ' unit(s) ' --><!-- /ko -->
                <select data-bind="options: getProductInterval(), value: selectedInterval, event: {change: intervalChanged}"></select>
            </div>
        <!-- /ko -->
    </td>
    <td class="col product-image">
        <!-- ko if: getProductUrl() -->
            <a class="product-item-photo" data-bind="attr: {href: getProductUrl(), title: getProductName()}">
                <img width="75px" height="75px" data-bind="attr: {src: getProductImageUrl(), title: getProductName()}" />
            </a>
        <!-- /ko -->
        <!-- ko ifnot: getProductUrl() -->
            <img width="75px" height="75px" data-bind="attr: {src: getProductImageUrl(), title: getProductName()}" />
        <!-- /ko -->
    </td>
    <td class="col product-info">
        <!-- ko if: getProductUrl() -->
            <h2 class="product-name"><a data-bind="attr: {href: getProductUrl(), title: getProductName()}, text: getProductName()"></a></h2>
        <!-- /ko -->
        <p>
            <s>
                <!-- ko i18n: 'One-Time Purchase Price' --><!-- /ko -->
                <!-- ko text: ': ' --><!-- /ko -->
                <!-- ko text: getProductPriceFormatted() --><!-- /ko -->
            </s>
        </p>
        <p>
            <!-- ko text: getDiscountMessage(); --><!-- /ko -->
        </p>
    </td>
    <td class="col actions">
        <!-- ko if: isStatus(['Cancelled', 'Expired', 'Paused', 'Failed', 'Retry']) -->
            <p data-bind="i18n: 'Status:'"></p>
            <p>
                <strong><!-- ko i18n: status() --><!-- /ko --></strong>
            </p>
        <!-- /ko -->
        <!-- ko if: isStatus(['Active']) -->
            <p>
                <button type="button" class="action primary" data-bind="click: skip">
                    <span data-bind="i18n: 'Skip next delivery'"></span>
                </button>
            </p>
            <p>
                <a class="action" href="javascript:void(0)" style="cursor:pointer;" data-bind="click: pause, i18n: 'Pause Subscription'"></a>
            </p>
            <p>
                <a class="action" href="javascript:void(0)" style="cursor:pointer;" data-bind="click: cancel, i18n: 'Cancel Subscription'"></a>
            </p>
        <!-- /ko -->
        <!-- ko if: isStatus(['Failed', 'Retry', 'Paused']) -->
            <p>
                <button type="button" class="action primary" data-bind="click: restart">
                    <span data-bind="i18n: 'Restart'"></span>
                </button>
            </p>
        <!-- /ko -->
        <br>
        <p>
            <a class="action" href="javascript:void(0)" data-bind="i18n: 'More Details...', click: toggleShowDetails"></a>
        </p>
    </td>
</tr>
<tr data-bind="visible: showDetails()">
    <td>
        <!-- ko foreach: getRegion('shipping-info') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </td>
    <td colspan="2">
        <!-- ko foreach: getRegion('payment-info') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </td>
    <td></td>
</tr>
